html
    head
        h1 Obtener Elemento
    body
        include header.pug
        form(method="POST", action="/update")
            label Foto
            input(
                value=item._id,
                name='id'
                )
            input(
              value=item.title
              name='title'
              )    
            label Descripción
            textarea(
              value=item.description,
              cols="30",
              rows="10"
              name="description"
            )=item.description
            label Enviar
            img(
              src="http://localhost:3000/uploads/" + item.filename,
              width="500px"
              )
            input(type="submit", value="Actualiza imagen")
            a(href="/delete/" + item._id) Eliminar imagen